$inter: "Inter";
$blue-1: #005FEE;
$blue-2: #0051CB;
$blue-3: #0047B0;
$white: #FFFFFF;
$dark-1: #242424;
$grey-1: #3E4850;
$grey-2: #B6B6B6;
$grey-3: #E0E0E0;
$grey-4: #9F9F9F;
$grey-5: #FDFDFD;
$grey-6: #FDFDFD;
$grey-7: #D3D3D3;
$grey-8: #B9B9B9;
$grey-9: #FAFAFA;
$grey-10: #F6F6F6;